<% provide( :title, "Home") %>

<div class=" front-page">
<h1>Characer Generator Ver1.0</h1>
<p>This is a side project where everyone can access there character sheets</p>
<p>This is way communicate store character sheets and create character sheets for users to use.
Click below to start</p>

<%= link_to "Sign Up",'#' , class: "btn btn-large btn-primary" %>
</div>
