<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
	<h1>   
       Welcome, <%= @user.handle %>
</h1>
<%= link_to "Create Character", characters_new_path(:user_id => @user.id) %> 
        </section>
    </aside>
</div>
