@import "bootstrap";

html{
     overflow-y: scroll;
 }


 body {
       padding-top: 60px;
   }

section {
      overflow: auto;
  }


textarea {
      resize: vertical;
  }

#logo{
    font-weight: bold;
	color: #E3DEDB;
    text-align:left;
    font-size: 1.8em;
    padding-top: 9px;

}

#home_link{
    font-weight: bold;
    color: #FFF;
    font-size: 0.750em;
	&:hover{
        color: #FFF;
        text-decoration:underline;
    }
}

.front-page{
    position: relative;
    bottom: -10px;
    margin-bottom: -100em;
	margin-left: 20%;
    margin-right:40%;
    background-color: #F1EBEB;
}
.center {
      text-align: center;
  }

.center h1 {
      margin-bottom: 10px;
  }

  /* sidebar */
aside {
    section.user_info {
        margin-top: 20px;
    }
    section{
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
            }
            h1 {
                font-size: 1.4em;
                text-align: left;
                letter-spacing: -1px;
                margin-bottom: 3px;
                margin-top: 0px;
            }
        }
    }

/* forms */ 
    input, textarea, select .uneditable-input {
        border: 1px solid #bbb;
        width: 100%;
        margin-bottom: 15px;
    }

    input {
        height: auto !important;
    }

    /*form*/ 
#error_explanation{
    color: red;
    ul{
        color: red;
        margin: 0 0 30px 0;
    }
}
.checkbox{
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
   }
#session_remember_me {
    width: auto;
    margin-left: 0;
}

.field_with_errors{
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}


.char_gen{
    background-color:#e5c79b;

}

.create_character {
      -webkit-border-radius: 28;
        
      -moz-border-radius: 28;
          
      border-radius: 28px;
           width: auto; 
      font-family: Arial;
              
      color: #ffffff;
                
      font-size: 12px;
                  
      background: #3498db;
                    
      padding: 10px 20px 10px 20px;
      
	  background-size: 50%;       
      text-decoration: none;
                  
  }
.create_character:hover {
                        
    background: #3cb0fd;
                          
    text-decoration: none;
                      
}
