<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
    <div class="container">
        <%= link_to "Character Gen", root_path, id: "logo" %>
        <nav>
        <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Home", root_path, id:"home_link"%></li>
            <li><%= link_to "About", '', id:"home_link" %></li>
            <li><%= link_to "Sign In", '#', id:"home_link" %></li>
        </ul>
        </nav>
    </div>
</div>
